<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" routerLink="/">MEAN APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="authService.loggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/profile" style="color: lightgray">Profile</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/register" style="color: lightgray">Sign Up</a>
      </li>
      <li *ngIf="!authService.loggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" routerLink="/login" style="color: lightgray">Login<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="authService.loggedIn()" class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
        <a class="nav-link" href="#" style="color: lightgray" (click)="handleLogoutClick($event)">Logout</a>
      </li>
    </ul>
  </div>
</nav>